<br>

<div align="right" style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
    <strong>R√©alis√© par :</strong> ADUAYOM MESSAN Daniel  
</div>
<div align="right" style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
    <strong>Date :</strong> Octobre 2024
</div>

<br><br>

<div align="center">
    <span style="font-family: Georgia, serif; font-size: 30px; color: darkgreen;">
        PROJET DE DATA ANALYTICS
    </span>
</div>

<div align="center">
    <span style="font-family: Georgia, serif; font-size: 24px; color: #cc0000;">
        Analyse Factorielle Discriminante des Universit√©s Fran√ßaises
    </span>
</div>

<hr style="border: 2px solid #75DFC1;">

<center>
    <h1 style="color: #444;">√âtude des Similarit√©s entre Universit√©s</h1>
</center>

<hr style="border: 2px solid #75DFC1;">

> Ce projet s‚Äôinscrit dans une d√©marche d‚Äôanalyse exploratoire de donn√©es sur l‚Äôinsertion professionnelle des dipl√¥m√©s de Master en France. √Ä travers une **Analyse Factorielle Discriminante (AFD)**, il vise √† :
>
> - Comprendre les **facteurs influen√ßant l‚Äôinsertion professionnelle** selon les √©tablissements,
> - Identifier des **profils d‚Äôuniversit√©s similaires**,
> - Fournir des **indicateurs utiles aux √©tudiants, aux d√©cideurs et aux √©tablissements eux-m√™mes**.
>
> L‚Äô√©tude repose sur des donn√©es fournies par le Minist√®re de l‚ÄôEnseignement Sup√©rieur (MENESR), r√©colt√©es 30 mois apr√®s l‚Äôobtention des dipl√¥mes.

<br><br>

In [9]:
# Import necessary libraries
import pandas as pd
from IPython.display import display #to display DataFrames in Jupyter notebooks
import numpy as np #for numerical operations

<br/>
<hr style="border-width:2px;border-color:#75DFC1">
<center><h1>Pr√©sentation de la Base de Donn√©es</h1></center>
<hr style="border-width:2px;border-color:#75DFC1">

<p style="font-family: 'Arial', sans-serif; font-size: 14px;">
    Cette base de donn√©es provient d'une enqu√™te nationale men√©e par le Minist√®re de l‚ÄôEnseignement Sup√©rieur sur l‚Äôinsertion professionnelle des dipl√¥m√©s de Master. Elle couvre pr√®s de 60 000 dipl√¥m√©s interrog√©s 30 mois apr√®s l‚Äôobtention de leur dipl√¥me. Les donn√©es permettent d‚Äôanalyser les performances d‚Äôinsertion par universit√© et fournissent de nombreux indicateurs socio-√©conomiques.
</p>

<ul style="font-family: 'Arial', sans-serif; font-size: 14px;">
    <li><strong>taux_dinsertion :</strong> Pourcentage de dipl√¥m√©s en emploi parmi ceux pr√©sents sur le march√© du travail.</li>
    <li><strong>salaire_net_median_des_emplois_a_temps_plein :</strong> Salaire mensuel net m√©dian des dipl√¥m√©s en emploi √† temps plein.</li>
    <li><strong>emplois_stables :</strong> Part des emplois √† dur√©e ind√©termin√©e ou statut de fonctionnaire.</li>
    <li><strong>emplois_cadre_ou_professions_intermediaires :</strong> Part des emplois de niveau cadre ou interm√©diaire.</li>
    <li><strong>femmes :</strong> Pourcentage de femmes parmi les dipl√¥m√©s.</li>
    <li><strong>de_diplomes_boursiers :</strong> Part des dipl√¥m√©s ayant b√©n√©fici√© d‚Äôune bourse durant leurs √©tudes.</li>
    <li><strong>emplois_exterieurs_a_la_region_de_luniversite :</strong> Part des dipl√¥m√©s travaillant hors de leur r√©gion universitaire.</li>
    <li><strong>taux_de_chomage_regional :</strong> Taux de ch√¥mage dans la r√©gion de l‚Äôuniversit√© (source INSEE).</li>
    <li><strong>salaire_net_mensuel_median_regional :</strong> Salaire m√©dian r√©gional des jeunes cadres ou professions interm√©diaires.</li>
    <li><strong>nombre_de_reponses :</strong> Nombre total de dipl√¥m√©s ayant r√©pondu √† l‚Äôenqu√™te pour chaque universit√©.</li>
    <li><strong>taux_de_reponse :</strong> Pourcentage de r√©pondants √† l‚Äôenqu√™te pour chaque √©tablissement.</li>
</ul>

<p style="font-family: 'Arial', sans-serif; font-size: 14px;">
    Ces indicateurs permettent une analyse comparative des universit√©s fran√ßaises selon leurs r√©sultats en mati√®re d‚Äôinsertion professionnelle. Cette base offre ainsi une opportunit√© pr√©cieuse pour explorer les proximit√©s et diff√©rences entre √©tablissements, et guider √©tudiants, chercheurs ou d√©cideurs.
</p>

In [8]:
# Define the file path
file_path = 'Data/fr-esr-insertion_professionnelle-master.csv'

# Read the CSV file
# Note: The separator is set to ";" as per the original code
data = pd.read_csv(file_path,sep=";")

# Display the first few rows of the DataFrame
print("Aper√ßu de notre base de donn√©es")
display(data.head())

# dtype of the DataFrame
print("Type de donn√©es de notre base de donn√©es")
display(data.dtypes)

Aper√ßu de notre base de donn√©es

,annee,diplome,numero_de_l_etablissement,etablissement,etablissementactuel,code_de_l_academie,academie,code_du_domaine,domaine,code_de_la_discipline,...,taux_de_chomage_regional,salaire_net_mensuel_median_regional,emplois_cadre,emplois_exterieurs_a_la_region_de_luniversite,femmes,salaire_net_mensuel_regional_1er_quartile,salaire_net_mensuel_regional_3eme_quartile,cle_etab,cle_disc,id_paysage
0,2017,MASTER LMD,0751719L,Paris 3 - Sorbonne Nouvelle,NaN,A01,Paris,LLA,"Lettres, langues, arts",disc06,...,7.1,2120,46,35,89,1620,2620,Paris 3 - Sorbonne Nouvelle_18,disc06_18,8k883
1,2017,MASTER LMD,0751719L,Paris 3 - Sorbonne Nouvelle,NaN,A01,Paris,LLA,"Lettres, langues, arts",disc06,...,7.1,2120,57,35,89,1620,2620,Paris 3 - Sorbonne Nouvelle_30,disc06_30,8k883
2,2017,MASTER ENS,0755890V,Sorbonne Universit√©,NaN,A01,Paris,MEEF,Masters enseignement,disc18,...,7.1,2120,96,6,86,1620,2620,Sorbonne Universit√©_30,disc18_30,bxPQe
3,2017,MASTER LMD,0755890V,Sorbonne Universit√©,NaN,A01,Paris,DEG,"Droit, √©conomie et gestion",disc01,...,7.1,2120,ns,ns,ns,1620,2620,Sorbonne Universit√©_30,disc01_30,bxPQe
4,2017,MASTER LMD,0755890V,Sorbonne Universit√©,NaN,A01,Paris,STS,"Sciences, technologies et sant√©",disc16,...,7.1,2120,93,15,9,1620,2620,Sorbonne Universit√©_18,disc16_18,bxPQe

Type de donn√©es de notre base de donn√©es

annee                                              int64
diplome                                           object
numero_de_l_etablissement                         object
etablissement                                     object
etablissementactuel                               object
code_de_l_academie                                object
academie                                          object
code_du_domaine                                   object
domaine                                           object
code_de_la_discipline                             object
discipline                                        object
situation                                         object
remarque                                          object
nombre_de_reponses                               float64
taux_de_reponse                                   object
poids_de_la_discipline                            object
taux_dinsertion                                   object
taux_d_emploi                                     object
taux_d_emploi_salarie_en_france                   object
emplois_cadre_ou_professions_intermediaires       object
emplois_stables                                   object
emplois_a_temps_plein                             object
salaire_net_median_des_emplois_a_temps_plein      object
salaire_brut_annuel_estime                        object
de_diplomes_boursiers                             object
taux_de_chomage_regional                          object
salaire_net_mensuel_median_regional               object
emplois_cadre                                     object
emplois_exterieurs_a_la_region_de_luniversite     object
femmes                                            object
salaire_net_mensuel_regional_1er_quartile         object
salaire_net_mensuel_regional_3eme_quartile        object
cle_etab                                          object
cle_disc                                          object
id_paysage                                        object
dtype: object

In [16]:
# list of variables continues
# Note: The original code had a typo in the variable name 'taux_dinsertion' (missing underscore)
variables_continues = [
    'taux_de_reponse', 'poids_de_la_discipline', 'taux_dinsertion',
    'emplois_cadre_ou_professions_intermediaires', 'emplois_stables',
    'emplois_a_temps_plein', 'salaire_brut_annuel_estime', 'taux_de_chomage_regional'
]
# Check for missing values in the DataFrame
for col in variables_continues:
    data[col] = pd.to_numeric(data[col], errors='coerce')  # convert to numeric, coercing errors to NaN

# select only that we need
colonnes_used = ['diplome', 'etablissement', 'discipline', 'situation'] + variables_continues
data = data[colonnes_used]
# Describe the DataFrame to get summary statistics
# Note: The describe() method provides summary statistics for numerical columns by default
print("Statistique descriptive")
display(data.describe())
# Save the DataFrame to a CSV file for further analysis
data.to_csv("Data/Used_Data.csv", index=False)

# dimension of the DataFrame
print("Dimensions de notre base de donn√©es")
display((data.shape))

Statistique descriptive

,taux_de_reponse,poids_de_la_discipline,taux_dinsertion,emplois_cadre_ou_professions_intermediaires,emplois_stables,emplois_a_temps_plein,salaire_brut_annuel_estime,taux_de_chomage_regional
count,19268.000000,18765.000000,10856.000000,9816.000000,9935.000000,9869.000000,8442.000000,19136.000000
mean,71.720262,18.367226,89.815494,87.272107,70.363664,92.566116,29874.034589,8.740782
std,13.875942,23.357322,6.665734,10.588858,16.161273,8.969819,3974.184381,1.996428
min,0.000000,0.000000,6.000000,3.000000,12.000000,37.000000,20000.000000,5.700000
25%,64.000000,4.000000,86.000000,82.000000,59.000000,90.000000,26800.000000,7.400000
50%,73.000000,9.000000,91.000000,90.000000,72.000000,96.000000,29600.000000,8.600000
75%,81.000000,22.000000,95.000000,95.000000,83.000000,98.000000,32400.000000,9.500000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,49100.000000,20.100000

Dimensions de notre base de donn√©es

(19603, 12)

<hr style="border-width:2px;border-color:#75DFC1"> <center><h1>Analyse Statistique ‚Äì Interpr√©tation des R√©sultats</h1></center> <hr style="border-width:2px;border-color:#75DFC1"> <p style="font-family: 'Arial', sans-serif; font-size: 14px; line-height: 1.6;"> L‚Äôanalyse des indicateurs permet de dresser un √©tat des lieux sur la qualit√© des parcours de formation et leur d√©bouch√© professionnel. Chaque indicateur apporte un √©clairage compl√©mentaire sur les dynamiques observ√©es dans la base de donn√©es. </p> <p style="font-family: 'Arial', sans-serif; font-size: 14px; line-height: 1.6;"> Le <strong>taux de r√©ponse</strong> atteint en moyenne 71,7 %, avec une forte variabilit√© : certaines formations recueillent 100 % de r√©ponses, tandis que d‚Äôautres sont √† z√©ro. Cette h√©t√©rog√©n√©it√© appelle √† un examen des m√©thodes de collecte utilis√©es, notamment pour les formations sans retour. </p> <p style="font-family: 'Arial', sans-serif; font-size: 14px; line-height: 1.6;"> Concernant le <strong>poids des disciplines</strong>, la moyenne est de 18,4 %, mais la m√©diane chute √† 9 %, ce qui indique que seules quelques disciplines concentrent l‚Äôessentiel des effectifs. Cette tendance traduit une forte polarisation autour de certains domaines d‚Äô√©tudes. </p> <p style="font-family: 'Arial', sans-serif; font-size: 14px; line-height: 1.6;"> Le <strong>taux d‚Äôinsertion professionnelle</strong> est √©lev√©, √† 89,8 % en moyenne, avec un √©cart-type faible (6,7), traduisant une relative homog√©n√©it√© entre formations. Ce bon niveau d'insertion peut √™tre interpr√©t√© comme le r√©sultat d‚Äôajustements r√©cents du syst√®me √©ducatif aux besoins du march√©. </p> <p style="font-family: 'Arial', sans-serif; font-size: 14px; line-height: 1.6;"> Les <strong>emplois qualifi√©s</strong> repr√©sentent en moyenne 87,3 % des situations professionnelles, avec des √©carts tr√®s larges (de 3 % √† 100 %). Cette proportion refl√®te la mont√©e en qualification de l‚Äôemploi, mais aussi une inflation des exigences de dipl√¥me pour des postes de niveau interm√©diaire. </p> <p style="font-family: 'Arial', sans-serif; font-size: 14px; line-height: 1.6;"> En revanche, la <strong>stabilit√© de l‚Äôemploi</strong> semble plus fragile : elle atteint en moyenne 70,4 %, avec un premier quartile √† 59 %, ce qui signale une pr√©carit√© non n√©gligeable. Ce constat renvoie √† une hausse des contrats courts, en particulier pour les jeunes dipl√¥m√©s. </p> <p style="font-family: 'Arial', sans-serif; font-size: 14px; line-height: 1.6;"> Le <strong>salaire brut annuel</strong> moyen s‚Äô√©tablit √† 29 874 ‚Ç¨, mais les valeurs observ√©es varient fortement entre 20 000 ‚Ç¨ et 49 100 ‚Ç¨. Cette amplitude traduit des √©carts sectoriels importants, bien que les niveaux moyens restent en coh√©rence avec les salaires d‚Äôentr√©e dans la vie active. </p> <p style="font-family: 'Arial', sans-serif; font-size: 14px; line-height: 1.6;"> Enfin, le <strong>taux de ch√¥mage r√©gional</strong> pr√©sente une moyenne de 8,7 %, oscillant entre 5,7 % et 20,1 % selon les territoires. Ces disparit√©s r√©gionales restent marqu√©es, m√™me si elles sont align√©es avec les donn√©es nationales. </p> <div style="margin-top:20px; padding:15px; border-radius:8px; border-left:4px solid #2ecc71; font-family:'Arial', sans-serif; font-size: 14px;"> <strong>üîé Points de Vigilance :</strong><br> Les donn√©es relatives aux salaires sont partiellement renseign√©es (8 442 observations sur 19 945), limitant certaines analyses. La stabilit√© de l‚Äôemploi demeure le point le plus fragile de cette √©tude. Un croisement avec les secteurs d‚Äôactivit√© permettrait d‚Äôaffiner l‚Äôinterpr√©tation et d‚Äôidentifier plus pr√©cis√©ment les leviers d‚Äôaction. </div> <div style="margin-top:15px; font-size:0.9em; text-align:right; font-family:'Arial', sans-serif;"> <i>Analyse r√©alis√©e sur la base de 19603 observations ‚Äì 2017 a 2020</i> </div>

<div style="font-family: 'Arial', sans-serif; font-size: 14px; margin-top: 20px;"> <h3 style="color: #75DFC1;">Pr√©paration des Variables pour l‚ÄôAnalyse Discriminante</h3>
<p style="line-height: 1.6;">
Afin de nous inscrire dans le cadre m√©thodologique propos√© dans le cours de Ricco Rakotomalala, nous adoptons une d√©marche de transformation des variables continues en variables discr√®tes. Cette √©tape est indispensable pour rendre les donn√©es compatibles avec une Analyse Factorielle Discriminante, qui n√©cessite une structure cat√©gorielle sur certaines dimensions.
</p>

<p style="line-height: 1.6;">
Nous avons choisi d‚Äôutiliser une m√©thode de <strong>discr√©tisation en quantiles</strong>, consistant √† d√©couper les variables en classes contenant un effectif similaire d‚Äôindividus. Par d√©faut, une division en quartiles produit quatre groupes √©quilibr√©s, mais il est √©galement possible d'opter pour une division en d√©ciles (dix classes) afin d'obtenir une granularit√© plus fine.
</p>

<p style="line-height: 1.6;"><strong>‚úîÔ∏è Avantages de la discr√©tisation en quantiles :</strong></p>
<ul style="margin-top: -10px; line-height: 1.6;">
    <li>Facilit√© de mise en ≈ìuvre et d‚Äôinterpr√©tation.</li>
    <li>R√©partition √©quilibr√©e des effectifs entre les classes.</li>
    <li>R√©duction de l'influence des valeurs extr√™mes et des outliers.</li>
    <li>Approche non param√©trique ne n√©cessitant aucune hypoth√®se sur la distribution des donn√©es.</li>
</ul>

<p style="line-height: 1.6;"><strong>‚ö†Ô∏è Limites de cette approche :</strong></p>
<ul style="margin-top: -10px; line-height: 1.6;">
    <li>D√©coupage purement statistique sans prise en compte de la signification m√©tier ou contextuelle.</li>
    <li>Classes parfois artificielles ou peu interpr√©tables si la distribution est irr√©guli√®re.</li>
    <li>Risque de perte d'information si la discr√©tisation est trop fine ou mal adapt√©e au nombre d‚Äôobservations.</li>
    <li>Stabilit√© des classes sensible aux variations de l‚Äô√©chantillon.</li>
</ul>

<p style="line-height: 1.6;">
Cette √©tape de discr√©tisation constitue donc un compromis entre la simplification des variables et la pr√©servation de leur capacit√© √† discriminer efficacement les groupes.
</p>

In [18]:
# Cr√©er des cat√©gories bas√©es sur les quartiles
for col in variables_continues:
    data[f'{col}_categorie'] = pd.qcut(data[col], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

# S√©lectionner les colonnes cat√©gorielles et les nouvelles cat√©gories
colonnes_categorielles = ['diplome', 'etablissement', 'discipline', 'situation'] + [f'{col}_categorie' for col in variables_continues]
data_categorise = data[colonnes_categorielles]

data_categorise = data_categorise.dropna()

# Afficher un aper√ßu des donn√©es cat√©goris√©es
display(data_categorise.head())

,diplome,etablissement,discipline,situation,taux_de_reponse_categorie,poids_de_la_discipline_categorie,taux_dinsertion_categorie,emplois_cadre_ou_professions_intermediaires_categorie,emplois_stables_categorie,emplois_a_temps_plein_categorie,salaire_brut_annuel_estime_categorie,taux_de_chomage_regional_categorie
0,MASTER LMD,Paris 3 - Sorbonne Nouvelle,"Lettres, langues, arts",18 mois apr√®s le dipl√¥me,Q1,Q4,Q3,Q1,Q1,Q1,Q1,Q1
1,MASTER LMD,Paris 3 - Sorbonne Nouvelle,"Lettres, langues, arts",30 mois apr√®s le dipl√¥me,Q1,Q4,Q2,Q1,Q2,Q1,Q2,Q1
2,MASTER ENS,Sorbonne Universit√©,Masters enseignement,30 mois apr√®s le dipl√¥me,Q1,Q4,Q4,Q4,Q4,Q2,Q2,Q1
4,MASTER LMD,Sorbonne Universit√©,Informatique,18 mois apr√®s le dipl√¥me,Q1,Q3,Q4,Q3,Q4,Q4,Q4,Q1
5,MASTER LMD,Sorbonne Universit√©,"Autres sciences, technologies et sant√©",18 mois apr√®s le dipl√¥me,Q1,Q3,Q4,Q4,Q3,Q4,Q4,Q1

<div style="font-family: 'Arial', sans-serif; font-size: 14px; margin-top: 20px;"> <h3 style="color: #75DFC1;">Transformation des Variables Cat√©gorielles : One-Hot Encoding</h3>
<p style="line-height: 1.6;">
Dans le prolongement de la phase de pr√©paration des donn√©es, nous appliquons une transformation des variables cat√©gorielles par <strong>encodage binaire (one-hot encoding)</strong>. Cette m√©thode consiste √† convertir chaque modalit√© d‚Äôune variable qualitative en une nouvelle variable binaire (0 ou 1), indiquant la pr√©sence ou l‚Äôabsence de cette modalit√© pour chaque individu.
</p>

<p style="line-height: 1.6;"><strong>‚úîÔ∏è Int√©r√™t du one-hot encoding dans notre contexte :</strong></p>
<ul style="margin-top: -10px; line-height: 1.6;">
    <li>Permet d‚Äôint√©grer des variables qualitatives dans une analyse factorielle √† orientation g√©om√©trique, comme l‚ÄôAFD.</li>
    <li>Pr√©serve l'information contenue dans les cat√©gories sans leur imposer d‚Äôordre artificiel.</li>
    <li>Assure la compatibilit√© avec les calculs matriciels n√©cessaires √† l‚Äôanalyse discriminante.</li>
    <li>Facilite la lecture et l‚Äôinterpr√©tation des contributions par modalit√©.</li>
</ul>

<p style="line-height: 1.6;">
Cette √©tape est indispensable pour garantir une repr√©sentation fid√®le des variables qualitatives dans l‚Äôespace factoriel, tout en respectant les contraintes structurelles de l‚Äôanalyse discriminante.
</p>

In [24]:
# Specify the columns to be one-hot encoded
colonnes_a_encoder = [col for col in colonnes_categorielles if col != 'etablissement']

# Apply one-hot encoding to the specified columns
data_encoded = pd.get_dummies(data_categorise, columns=colonnes_a_encoder, prefix_sep='_')
# Convert the encoded DataFrame to integer type to have binary values (0 and 1)
# Note: This step is optional, as get_dummies already creates binary columns
for col in data_encoded.columns:
    if data_encoded[col].dtype not in [np.int64, np.float64, 'bool']:
        print(f"Attention : La colonne '{col}' contient des valeurs non num√©riques et ne peut pas √™tre convertie en entier.")

# Si vous voulez convertir uniquement les colonnes bool√©ennes en entiers (0 et 1)
data_encoded = data_encoded.astype({col: int for col in data_encoded.select_dtypes(include=['bool']).columns})

# Afficher un aper√ßu des donn√©es encod√©es apr√®s correction
display(data_encoded.head())

Attention : La colonne 'etablissement' contient des valeurs non num√©riques et ne peut pas √™tre convertie en entier.

,etablissement,diplome_MASTER ENS,diplome_MASTER LMD,"discipline_Autres formations juridiques, √©conomiques et de gestion",discipline_Autres sciences humaines et sociales,"discipline_Autres sciences, technologies et sant√©",discipline_Droit,"discipline_Ensemble formations juridiques, √©conomiques et de gestion",discipline_Ensemble sciences humaines et sociales,"discipline_Ensemble sciences, technologies et sant√©",...,emplois_a_temps_plein_categorie_Q3,emplois_a_temps_plein_categorie_Q4,salaire_brut_annuel_estime_categorie_Q1,salaire_brut_annuel_estime_categorie_Q2,salaire_brut_annuel_estime_categorie_Q3,salaire_brut_annuel_estime_categorie_Q4,taux_de_chomage_regional_categorie_Q1,taux_de_chomage_regional_categorie_Q2,taux_de_chomage_regional_categorie_Q3,taux_de_chomage_regional_categorie_Q4
0,Paris 3 - Sorbonne Nouvelle,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,Paris 3 - Sorbonne Nouvelle,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,Sorbonne Universit√©,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,Sorbonne Universit√©,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
5,Sorbonne Universit√©,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0

<div style="font-family: 'Arial', sans-serif; font-size: 14px; margin-top: 20px;"> <h3 style="color: #75DFC1;">Construction du Tableau de Contingence</h3>
<p style="line-height: 1.6;">
√Ä la suite du one-hot encoding, nous construisons un <strong>tableau de contingence</strong> entre les <strong>modalit√©s des variables explicatives</strong> (issues de la discr√©tisation ou du codage binaire) et la <strong>variable cible</strong> (groupe ou classe √† pr√©dire dans l‚ÄôAFD). 
</p>

<p style="line-height: 1.6;">
Un tableau de contingence est une matrice qui croise deux variables qualitatives en comptabilisant les effectifs pour chaque combinaison de modalit√©s. Dans notre cas, il s‚Äôagit de compter combien d‚Äôindividus appartenant √† chaque classe (variable cible) pr√©sentent une certaine modalit√© d‚Äôune variable explicative.
</p>

<p style="line-height: 1.6;"><strong>‚úîÔ∏è Objectifs et int√©r√™ts du tableau de contingence :</strong></p>
<ul style="margin-top: -10px; line-height: 1.6;">
    <li>Fournir une base de calcul pour l‚ÄôAnalyse Factorielle Discriminante, en repr√©sentant la distribution des modalit√©s par groupe.</li>
    <li>Permettre d‚Äô√©valuer la relation entre chaque modalit√© et les diff√©rentes classes de la variable √† expliquer.</li>
    <li>Pr√©parer les donn√©es sous une forme directement exploitable pour la construction de l‚Äôespace factoriel.</li>
</ul>

<p style="line-height: 1.6;">
Ce tableau repr√©sente donc une √©tape interm√©diaire mais essentielle, reliant les variables explicatives transform√©es √† la structure des groupes cibles, et constituant l‚Äôentr√©e principale de l‚ÄôAFD.
</p>

In [28]:
# Group by 'etablissement' and sum all columns
grouped_data = data_encoded.groupby('etablissement').sum()

# Display the resulting DataFrame
display(grouped_data.head())

grouped_data['Total'] = grouped_data.sum(axis=1)  # Total ligne
grouped_data.loc['Total'] = grouped_data.sum()     # Total colonne

,diplome_MASTER ENS,diplome_MASTER LMD,"discipline_Autres formations juridiques, √©conomiques et de gestion",discipline_Autres sciences humaines et sociales,"discipline_Autres sciences, technologies et sant√©",discipline_Droit,"discipline_Ensemble formations juridiques, √©conomiques et de gestion",discipline_Ensemble sciences humaines et sociales,"discipline_Ensemble sciences, technologies et sant√©",discipline_Gestion,...,emplois_a_temps_plein_categorie_Q3,emplois_a_temps_plein_categorie_Q4,salaire_brut_annuel_estime_categorie_Q1,salaire_brut_annuel_estime_categorie_Q2,salaire_brut_annuel_estime_categorie_Q3,salaire_brut_annuel_estime_categorie_Q4,taux_de_chomage_regional_categorie_Q1,taux_de_chomage_regional_categorie_Q2,taux_de_chomage_regional_categorie_Q3,taux_de_chomage_regional_categorie_Q4
etablissement,,,,,,,,,,,,,,,,,,,,,
Aix-Marseille,21,282,2,20,20,20,20,20,20,20,...,57,30,99,86,63,55,0,60,62,181
Amiens - Picardie Jules-Verne,19,117,0,1,6,2,19,19,19,8,...,41,32,35,47,29,25,0,0,48,88
Angers,8,144,4,9,11,0,20,20,20,20,...,29,35,86,43,17,6,88,24,40,0
Antilles,6,2,0,0,0,0,2,0,0,0,...,1,2,0,1,2,5,0,0,0,8
Artois,9,78,6,0,0,0,20,3,19,8,...,20,31,23,17,30,17,0,0,25,62

In [29]:
grouped_data

,diplome_MASTER ENS,diplome_MASTER LMD,"discipline_Autres formations juridiques, √©conomiques et de gestion",discipline_Autres sciences humaines et sociales,"discipline_Autres sciences, technologies et sant√©",discipline_Droit,"discipline_Ensemble formations juridiques, √©conomiques et de gestion",discipline_Ensemble sciences humaines et sociales,"discipline_Ensemble sciences, technologies et sant√©",discipline_Gestion,...,emplois_a_temps_plein_categorie_Q4,salaire_brut_annuel_estime_categorie_Q1,salaire_brut_annuel_estime_categorie_Q2,salaire_brut_annuel_estime_categorie_Q3,salaire_brut_annuel_estime_categorie_Q4,taux_de_chomage_regional_categorie_Q1,taux_de_chomage_regional_categorie_Q2,taux_de_chomage_regional_categorie_Q3,taux_de_chomage_regional_categorie_Q4,Total
etablissement,,,,,,,,,,,,,,,,,,,,,
Aix-Marseille,21,282,2,20,20,20,20,20,20,20,...,30,99,86,63,55,0,60,62,181,3333
Amiens - Picardie Jules-Verne,19,117,0,1,6,2,19,19,19,8,...,32,35,47,29,25,0,0,48,88,1496
Angers,8,144,4,9,11,0,20,20,20,20,...,35,86,43,17,6,88,24,40,0,1672
Antilles,6,2,0,0,0,0,2,0,0,0,...,2,0,1,2,5,0,0,0,8,88
Artois,9,78,6,0,0,0,20,3,19,8,...,31,23,17,30,17,0,0,25,62,957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Universit√© Sorbonne Paris Nord,0,51,0,1,0,0,17,16,0,6,...,11,10,13,7,21,14,22,15,0,561
Universit√© de Paris,4,84,0,8,6,8,8,8,8,7,...,17,2,18,14,54,67,21,0,0,968
Versailles Saint-Quentin-en-Yvelines,1,86,2,0,0,4,20,7,16,19,...,43,2,4,29,52,25,37,25,0,957
√âvry-Val d'Essonne,7,69,5,1,0,3,17,1,13,13,...,41,7,7,14,48,7,44,25,0,836
Total,731,7643,197,347,257,521,1070,803,941,870,...,1982,2118,2295,1878,2083,2359,2278,1826,1911,92114

Analysons un peu le tableua de contingence 21/731 des master ens viennent de marseille 

pour marseille le master ens a √©t√© attribu√© √† 21/3333  des reponses possibles